body {
  margin: 0;

  background: #F1C78E
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* Particle container. */

#particle-container {
  position:fixed;
  width: 100%;
  height: 100%;
}
